<div class="section-title span-24 prepend-top last">
  Login
</div>

<div class="span-4">
  <% form_tag session_path do -%>
      <p><%= label_tag 'login' %><br/>
        <%= text_field_tag 'login', @login %></p>

      <p><%= label_tag 'password' %><br/>
        <%= password_field_tag 'password', nil %></p>

      <p><%= submit_tag 'Log in' %></p>

  <% end -%>
</div>

<div class="span-20 prepend-top last">
  <a class="rpxnow" onclick="return false;"
     href="<%= rpx_token_url %>">
    Login with an external account 
  </a> <br />
  <%= link_to "Register", :controller => 'users', :action => 'new' %>
</div>


<script src="https://rpxnow.com/openid/v2/widget"
        type="text/javascript"></script>
<script type="text/javascript">
    RPXNOW.overlay = true;
    RPXNOW.language_preference = 'en';
</script>

