<div class="span-8">
  <% form_tag session_path do -%>
      <p><%= label_tag 'login' %><br/>
        <%= text_field_tag 'login', @login %></p>

      <p><%= label_tag 'password' %><br/>
        <%= password_field_tag 'password', nil %></p>

      <p><%= submit_tag 'Log in' %></p>

  <% end -%>
</div>
<div class="span-16 last">
  <iframe src="https://maynerd.rpxnow.com/openid/embed?token_url=<%= rpx_token_url %>"
          scrolling="no" frameBorder="no" style="width:400px;height:240px;">
  </iframe>
</div>
