<div class="span-24 prepend-top last">
  Would you like to <%= link_to "Logout?", :controller => 'sessions', :action => 'destroy' %>
</div>
<div class="span-8 append-16 prepend-top last">
  <div class="line-box">
    <div class="section-title">User Information</div>
    Name: <span class="editable"><%= @current_user.name %></span>
    <br/>
    Login: <span class="editable"><%= @current_user.login %></span>
    <br/>
    Email: <span class="editable"><%= @current_user.email %></span>
  </div>
</div>
<div class="span-8 append-16 prepend-top last">
  <div class="line-box">
    <div class="section-title">Your OpenIDs</div>

    <% if @mappings.length == 0 %>
        <p>No OpenIDs are associated with this account.</p>
    <% else %>
        <p>OpenIDs associated with this account:</p>

        <ul>
          <% @mappings.each do |mapping| %>
              <li><%= h mapping %> -
                <%= link_to "X", :controller => :sessions,
                            :action => "rpx_unmap", :openid => mapping %>
              </li>
          <% end %>
        </ul>
    <% end %>

    <a class="rpxnow" onclick="return false;"
       href="<%= rpx_map_url %>">
      Add an OpenID to your account
    </a>
  </div>
</div>

<script src="https://rpxnow.com/openid/v2/widget"
        type="text/javascript"></script>
<script type="text/javascript">
    RPXNOW.overlay = true;
    RPXNOW.language_preference = 'en';
</script>
